---
import Blog from "@layouts/Blog.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blog");
---
<style>
h1 {
	font-size: 2rem;
	font-weight: 400;
}
</style>

<Blog { blog }>
	<h1 slot="header">blog post</h1>
</Blog>
