---
import Blog from "@layouts/Blog.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blog");
---

<Blog {blog}>
  <h1 class="mb-5 text-2xl" slot="header">blog posts</h1>
</Blog>
