---
import Common from "../layouts/Common.astro";

const links = [
  ["./blog", "blog"],
  ["./about", "about"],
  // ["./projects", "project"],
];
---

<Common title="Tushar Saxena (keogami)">
  <main class="h-screen w-screen">
    <header class="flex w-full justify-end gap-8 px-16 py-8 text-lg">
      {
        links.map(([href, display]) => (
          <a
            class="after:w-4px after:h-4px after:bg-blue relative tracking-widest text-gray-500 duration-200 after:pointer-events-none after:absolute after:bottom-0 after:left-1/2 after:-mb-4 after:size-1.5 after:-translate-x-1/2 after:rounded after:bg-dark-lavender after:opacity-0 after:duration-300 after:ease-in-out after:content-[''] hover:text-gray-200 hover:after:opacity-100"
            href={href}
          >
            {display}
          </a>
        ))
      }
    </header>

    <span
      class="pointer-events-none absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-8xl"
      id="signature">~|&lt;</span
    >
  </main>
</Common>
