---
import Common from "../layouts/Common.astro";
---

<style>
  /*
header {
	display: flex;
	justify-content: end;
	gap: 2rem;
}

header a {
	color: var(--black-200);
	text-decoration: none;
	transition: all 150ms ease-in 0s;
	font-size: large;
	position: relative;
}

header a:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
	--size: 6px;
	width: var(--size);
	height: var(--size);
	background: var(--accent);
	margin-bottom: -0.75rem;
	border-radius: 50%;
	opacity: 0;
	transition: all 200ms ease-in 0s;
}

header a:hover {
	color: var(--black-100);
}

header a:hover:after {
	opacity: 1;
}

body {
	height: 100vh;
}

main {
	height: 100%;
	position: relative;
}

#signature {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	font-family: "Fira Code", monospace;
}
*/
</style>

<Common title="Tushar Saxena (keogami)">
  <main class="p-4 pt-2">
    <header>
      <a href="./blog">blog</a>
      <a href="./about">about</a>
      <a href="./projects">projects</a>
    </header>

    <span id="signature">~|&lt;</span>
  </main>
</Common>
