<style>
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  nav a {
    font-family: "Fira Code", monospace;
    color: var(--black-base);
    text-decoration: none;
    font-size: 3rem;
  }
</style>

<nav>
  <a href="/">~|&lt;</a>
</nav>
