---
import Blog from "@layouts/Blog.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  // who gives a fuck about performance when its fucking typescript
  const tags = [...new Set(blog.flatMap((post) => post.data.tags))].map(
    (tag) => ({
      params: { tag },
    }),
  );

  return tags;
}

const { tag } = Astro.params;
const blog = await getCollection("blog", ({ data }) => data.tags.includes(tag));
---

<Blog {blog}>
  <h1 class="mb-5 text-2xl" slot="header">
    <span class="text-lavender">#</span>{tag}
  </h1>
</Blog>
