---
import '@fontsource/fira-code'
import '@fontsource/fira-sans'

export type Props = {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
	<head>
		<title>{title}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="generator" content="{Astro.generator}">
	</head>
	<body>
  	<slot></slot>
  </body>
</html>


<style is:global>
	:root {
		--accent: #B195C7;
		--black-base: #060308;
		--black-200: #837D87;
	}

	html {
		font-family: "Fira Sans", sans-serif;
	}

	body {
	  box-sizing: border-box;
		padding: 2rem 4rem;
		margin: 0px;
		color: var(--black-base);
	}

	::selection {
	  background-color: #D6C3E5;
	}
</style>